__pycache__/
venv/
.idea/
annotated_data/
utils/__pycache__/
dnn_vessel_heterogeneity/topic_generation/__pycache__/
trained_models/
runs/
dnn_vessel_heterogeneity/topic_generation/
image_segmentation/
hires/
medres/
*.tif
*.png
*.pyc