__pycache__/
env/
.idea/
annotated_data/
mibipy/__pycache__/
dnn_vessel_heterogeneity/topic_generation/__pycache__/
trained_models/
runs/
dnn_vessel_heterogeneity/topic_generation/
image_segmentation/
results/hires/
results/medres/
.ipynb_checkpoints/
*.tif
*.png
*.pyc
*.csv