<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<head>
    <meta charset="UTF-8">
    <title>MIBI Analysis</title>
</head>


<body>

<div class="topnav">
        <a href="/">Home</a>
        <a href="/analyze">Analyze</a>
    </div>

    <div class="banner">
        <p>Data analysis of Multiplexed Imaging</p>
    </div>

    <div class="theme-dark">
        <h1>MIBI Pipeline</h1>
        <h3>Data analysis of Multiplexed Imaging</h3>

        <div class="links">
            <div class="in-line-links"><a href="/analyze_landing">Get started ></a></div>
        </div>
    </div>

</body>
</html>