@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: #616161; */
    overflow-x: hidden;
}

a,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', monospace;
    /* font-weight: 400; */
    /* color: black; */
}

a {
    color: orange;
    font-size: 18px;
}

li {
    list-style-type: none;
}

label {
    font-family: 'Open Sans', monospace;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    /* background-color: #ddd; */
    color: white;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.links {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-bottom: 30px;
}

.in-line-links {
    display: inline-block;
    font-size: 21px;
    /* line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px; */
    margin: 0 20px 0 0;
}

.in-line-links a {
    text-decoration: none;
}

.theme-dark {
    /* width: 100%; */
    padding-top: 10px;
    height: 100vh;
    background-color: #161617;
    color: white;
}

.theme-dark h1 {
    font-size: 64px;
    text-align: center;
}

.theme-dark h3 {
    font-size: 22px;
    text-align: center;
}

.theme-dark a,
.theme-dark .link {
    color: #2997ff;
}

.header {
    /* padding: 50px 10px; */
    text-align: center;
}

#comments input {
    background-color: #FFF;
    min-height: 200px;
}

#visual_container,
#selector_container {
    float: left;
    padding-left: 50px;
    /* padding-right: 20px; */
}

nav ul {
    height: 200px;
    width: 200px;
}

nav ul {
    overflow: hidden;
    overflow-y: scroll;
}

nav li {
    padding-bottom: 2px;
}

#graphs_container {
    float: left;
}

#container {
    width: 1000px;
    margin: auto;
}

#patient_landing,
#doctor_landing {
    float: left;
    padding-right: 20px;
}

.banner {
    background-color: white;
    text-align: center;
}

.prediction {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    height: 100px;
    line-height: 100px;
    /* We're working with the body tag, and so with the WHOLE page */
    color: black;
    /* The page text will be white */
}

.prediction h3 {
    color: black;
}

.header h1 {
    /* color: black; */
    font-size: 54px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /* font-smooth: auto; */
}

.submit-form {
    margin: 0 auto;
    padding: 100px 10px;
    text-align: center;
}

.image_preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#email_form {
    padding-bottom: 50px;
}

#dashboard {
    padding-left: 50px;
    padding-right: 50px;
}

#form {
    margin: 16px;
    text-align: center;
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}

#form .uploadButton {
    border: 0;
    outline: 0;
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #616161;
    color: #fff;
    cursor: pointer;
}

#form.fileHover {
    box-shadow: 0 0 16px black;
}

#form #fileLabel {
    background-color: darkgray;
    display: block;
    padding: 16px;
    position: relative;
    cursor: pointer;
}

#form #fileInput {
    display: none;
}

#form #fileLabel:after,
#form #fileLabel:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: -2;
    border-radius: 8px 8px 0 0;
}

#form #fileLabel:before {
    z-index: -1;
    background: repeating-linear-gradient( 45deg, transparent, transparent 5%, black 5%, black 10%);
    opacity: 0;
    transition: 0.5s;
}

#form.fileHover #fileLabel:before {
    opacity: 0.25;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.patient_item {
    width: 500px;
    background-color: grey;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 20px 20px, 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.patient_item a {
    color: lightblue;
    text-decoration: none;
}